-sqlite3==0.0.0
beautifulsoup4==4.4.1
Flask==0.10.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
psycopg2==2.6.1
requests==2.8.1
six==1.10.0
SQLAlchemy==1.0.11
SQLAlchemy-Utils==0.31.4
Werkzeug==0.11.2
wheel==0.24.0
